@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


html {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

.header_content > h4{
    display: inline-block;
    width: auto;
    
    color:#000;
    font-size:0.9rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.post_caption > h6 {
    font-size: 0.6rem;
    font-weight: 600;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

#body_index {
    min-height: 100vh;
    display: flex;
    min-width: 30rem;
    justify-content: center;
    align-items: center;

    background: #F0F7EE;
}

.parent-container {
    height: 100%;
    align-items: center;
    justify-content: center;
}
.wrapper {
    margin-top: 10rem;
    position: relative;
    width: 28rem;
    height: 30rem;
    background: #F0F7EE;
    color: #191919;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: #F0F7EE;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #63A91F;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #F0F7EE;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #F0F7EE;
}

.input-box i {
    position: absolute;
    right: 20px;
    color: #F0F7EE;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #63A91F;
    margin-right: 3px;
}

.remember-forgot a {
    color: #191919;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #191919;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #F0F7EE;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #191919;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.login_head {
    text-align: center;
}

/*Home Page*/
#body_home {
    background: #F0F7EE;
}

header {
    background-color: #F0F7EE;
    /* background-color:yellow; */
    padding: 0.1rem;
    text-align: center;
    font-size: 35px;
    color: black;
    border-bottom: 2px solid;
    position:fixed;
    width:100%;
    z-index:2;
  }

#Aktibo_Logo {
    padding-top: 0.5rem;
}

.wrapper_home {
    display: flex;
    position: relative;
}

.sidebar {
    position:fixed;
    width: 10rem;
    height: 100%;
    background: #F0F7EE;
    padding: 30px 0;
    border-right: 0.1rem solid;
    z-index:1;
    padding-top:7rem;
    background-color: ;
}

.wrapper_home > .sidebar h2 {
    color: #F0F7EE;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper_home .sidebar ul li a {
    color: black;
    font-family: 'Roboto';
    display: block;
    padding: 1rem;
    
}

.sidebar > ul > #logout_btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    padding-right: 3.3rem;
    
}

.sidebar > ul > li:hover{
    background: #63A91F;
}

.wrapper_home .sidebar ul li:hover a {
    color: #F0F7EE;
}

.sidebar > ul > li > a > .fa-solid {
    display: inline-block;
    padding-right: 10px;
    color: black;
}

.smallnav {
    position: fixed;
    display: none;
    text-align: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: fixed;
    background-color: #63A91F;
    width: 22rem;
    height: 3rem;
    z-index: 2;
    align-items: center;
    border-radius: 1rem;
}

.smallnav > ul > li {
    display: inline-block;
    padding: 0.7rem 2rem 1rem;
       
}

.smallnav > ul > li > a > .fa-solid {
    color: white;
}

.main_content{
    padding-left: 10rem;
    padding-top:7rem;
    text-align:center;
    min-width: 25rem;
}

.container-b{
    height:auto;
    background-color:pink;
    position:absolute;
    top:100%;
}

.post{
    width:25rem;
    height:auto;
    margin:0 auto 1rem;
    border-bottom:0.02rem solid #000;
    
    /* background-color:#fff; */
}

.exercises-container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width:15rem;
    margin:0 0.5rem 1rem;
}

.exercises_pic{
    text-align: center;
    justify-content: center;
    width: 15rem;
    background-color: red;
}

.article-body {
    text-align: left;
    height: 12rem;
}

.header_content{
    height:3rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
}

.containerA,.containerB{
    text-align:center;
    background-color:red;
    height:6rem;
    width:10rem;
    font-size:1.3rem;
    color:#fff;
    margin-top:20px;
    /*display:block;*/
    display:inline-block;
}

.prof-pic {
    display: inline-block;
    vertical-align: middle;
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: contain;
}

.header_content > .bx-dots-vertical {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17rem;
    font-size: x-large;
}

.bx-dots-vertical:hover {
    color: #63A91F;
}

.post_caption{
    height:2rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
   
}

.info {
    min-height: 1.5rem;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.info > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.interact_content{
    margin: 0;
    height:3rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
    background-color:
}

.bx-heart, .bx-comment-detail {
    cursor: pointer;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
    padding-top: 0.3rem;
    background-color:;
    transition: .5s;
}

.bx-heart:hover {
    color: red;
    transform: scale(1.15);
  }
.bx-comment-detail {
    margin-left: 5rem;
}

.bx-comment-detail:hover{
    color: #63A91F;
    transform: scale(1.15);
}

.containerB{
    background-color:blue;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

@media screen and (max-width:720px){
    .containerA,.containerB{
        width:7rem;
        background-color:yellow;
        font-size:2rem;
    }

    .sidebar {
        display: none;
    }
    
    .smallnav {
        display: block;
    }
    
    .main_content {
        padding-left: 0;
    }

  
   


}

@media screen and (max-width:540px){
    
    .wrapper{
        padding-top: 20%;
        
        
        box-sizing: border-box;
    }
    
    .post {
        width: 22rem;
    }    

    .header_content > .bx-dots-vertical  {
        margin-left: 14rem;
    }
}

@media screen and (max-width:400px){
    


    .wrapper{
        padding-top: 10rem;
        
        box-sizing: border-box;
    }
    
}

