@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


html {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

.header_content > h4{
    display: inline-block;
    width: auto;
    
    color:#000;
    font-size:0.9rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.post_caption > h6 {
    font-size: 0.6rem;
    font-weight: 600;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

#body_index {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F0F7EE;
}

.wrapper {
    width: 420px;
    background: #F0F7EE;
    color: #191919;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: #F0F7EE;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #63A91F;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #F0F7EE;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #F0F7EE;
}

.input-box i {
    position: absolute;
    right: 20px;
    color: #F0F7EE;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #63A91F;
    margin-right: 3px;
}

.remember-forgot a {
    color: #191919;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #191919;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #F0F7EE;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #191919;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.login_head {
    text-align: center;
}

/*Home Page*/
#body_home {
    background: #F0F7EE;
}

header {
    background-color: #F0F7EE;
    /* background-color:yellow; */
    padding: 0.1rem;
    text-align: center;
    font-size: 35px;
    color: black;
    border-bottom: 2px solid;
    position:fixed;
    width:100%;
    z-index:2;
  }

#Aktibo_Logo {
    padding-top: 0.5rem;
}

.wrapper_home {
    display: flex;
    position: relative;
}

.sidebar {
    position:fixed;
    width: 200px;
    height: 100%;
    background: #F0F7EE;
    padding: 30px 0;
    border-right: 2px solid;
    z-index:1;
    padding-top:7rem;
}

.wrapper_home .sidebar h2 {
    color: #F0F7EE;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper_home .sidebar ul li a {
    color: black;
    font-family: 'Roboto';
    display: block;
    padding: 1rem;
}

.sidebar > ul > li:hover{
    background: #63A91F;
}

.wrapper_home .sidebar ul li:hover a {
    color: #F0F7EE;
}

.fa-solid {
    display: inline-block;
    padding-right: 10px;
}

.main_content{
    margin-left: 10rem;
    padding-top:7rem;
    /* background-color:green; */
    text-align:center;
}

.container-b{
    height:auto;
    background-color:pink;
    position:absolute;
    top:100%;
}

.post{
    width:25rem;
    height:auto;
    margin:0 auto 1rem;
    border-bottom:0.02rem solid #000;
    /* background-color:#fff; */
}

.header_content{
    height:3rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
}

.containerA,.containerB{
    text-align:center;
    background-color:red;
    height:6rem;
    width:10rem;
    font-size:1.3rem;
    color:#fff;
    margin-top:20px;
    /*display:block;*/
    display:inline-block;
}

.prof-pic {
    display: inline-block;
    vertical-align: middle;
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: contain;
}

.bx-dots-vertical {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17rem;
    font-size: x-large;
    transition: 0.5s;
}

.bx-dots-vertical:hover {
    color: #63A91F;
}

.post_caption{
    height:2rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
   
}

.info {
    
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.info > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.interact_content{
    margin: 0;
    height:3rem;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding:0.4rem 0.6rem;
    background-color:
}

.bx-heart, .bx-comment-detail {
    cursor: pointer;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
    padding-top: 0.3rem;
    background-color:;
    transition: .5s;
}

.bx-heart:hover {
    color: red;
    transform: scale(1.15);
  }
.bx-comment-detail {
    margin-left: 5rem;
}

.bx-comment-detail:hover{
    color: #63A91F;
    transform: scale(1.15);
}

.containerB{
    background-color:blue;
}

@media screen and (max-width:720px){
    .containerA,.containerB{
        width:7rem;
        background-color:yellow;
        font-size:2rem;
    }

    .sidebar {
        display: none;
    }

    li {

    }

    .main_content{
        margin-left: 0;
    }


}

@media screen and (max-width:450px){
    .containerA,.containerB{
        background-color:pink;
    }
}

